<div class="jumbotron secontron" id="aboutjumbo">
  <div class="container marketing">
    <h1 class="namoy-font">Nosotros</h1>
  </div>
</div><!-- /.container -->

<!-- Namoy quote
================================================== -->
<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        <i class="fa fa-quote-left orange" aria-hidden="true"></i> Existen muy pocos lugares en el mundo con las condiciones perfectas para crear productos 100% naturales y Colombia es uno de ellos <i class="fa fa-quote-right orange" aria-hidden="true"></i>
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <hr class="underline"> 
  


<!-- Content
================================================== -->
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <div class="content-wrapper" id="about-wrapper"> 
        <p class="lead just">
          NA-MOY está comprometida a <span class="orange">endulzar saludablemente</span> 
          todos los momentos de quienes buscan y practican un estilo de vida sano y libre 
          de alimentos procesados a través de la comercialización de endulzantes 
          <span class="orange">100% naturales</span> producidos con los <span class="orange">
          más altos estándares de calidad</span>.
        </p>     
        <p class="lead just">
          Existen muy pocos lugares en el mundo con las condiciones perfectas para crear 
          productos 100% naturales y Colombia es uno de ellos. NA-MOY lo sabe y por esta 
          razón ejerce y promueve el <span class="orange">comercio justo</span> y el respeto 
          al medio ambiente mediante el apoyo a la <span class="orange">agricultura sostenible</span>, 
          el trabajo con tierras colombianas libres de quema, el respeto a los 
          agricultores y sus derechos, y el uso de <span class="orange">empaques 100% compostables
          </span> que se convierten en abono ayudando sustancialmente a la vida vegetal.
        </p>
      </div><!-- /.content-wrapper -->
    </div><!-- /.col-md-4 -->
      
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "https://unsplash.it/500/500?image=1035", alt: "Panela Namoy Product Image", class: "featurette-image img-responsive center-block" %>
    </div><!-- /.col-md-8 -->
  </div><!-- /.row -->
</div><!-- /.container -->