<div class="jumbotron secontron" id="aboutjumbo">
  <div class="container marketing">
    <h1>Nosotros</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <p> 
        Estamos comprometidos a <span class="orange">endulzar saludablemente</span> la vida de quienes buscan y practican un <span class="orange">estilo de vida sano</span> y libre de alimentos procesados, a través de la comercialización de edulcorantes 100% naturales producidos con los más <span class="orange">altos estándares de calidad</span>.
      </p>
      <p>
        Creemos firmemente que el desarrollo se forja a través de un <span class="orange">comercio justo</span>, respetando la calidad ambiental y los recursos provistos por una <span class="orange">agricultura sostenible</span>. Procuramos exaltar y cuidar el valor de nuestras tierras colombianas, evitar la quema de sus campos y respetar a sus agricultores, pues sabemos que existen muy pocos lugares en el mundo con las condiciones perfectas para crear <span class="orange">productos 100% naturales</span> y Colombia es uno de ellos.
      </p>
      <h2 class="center"> 
        <i class="fa fa-quote-left orange" aria-hidden="true"></i> Existen muy pocos lugares en el mundo con las condiciones perfectas para crear productos 100% naturales y Colombia es uno de ellos <i class="fa fa-quote-right orange" aria-hidden="true"></i>
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->      
</div><!-- /.container -->