<div class="jumbotron secontron" id="aboutjumbo">
  <div class="container marketing">
    <h1>Nosotros</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        <i class="fa fa-quote-left orange" aria-hidden="true"></i> Existen muy pocos lugares en el mundo con las condiciones perfectas para crear productos 100% naturales y Colombia es uno de ellos <i class="fa fa-quote-right orange" aria-hidden="true"></i>
      </h2>
      <p> 
        Estamos comprometidos a endulzar saludablemente la vida de quienes buscan y practican un estilo de vida sano y libre de alimentos procesados, a través de la comercialización de edulcorantes 100% naturales producidos con los más altos estándares de calidad.
      </p>
      <p>
        Creemos firmemente que el desarrollo se forja a través de un comercio justo, respetando la calidad ambiental y los recursos provistos por una agricultura sostenible. Procuramos exaltar y cuidar el valor de nuestras tierras colombianas, evitar la quema de sus campos y respetar a sus agricultores, pues sabemos que existen muy pocos lugares en el mundo con las condiciones perfectas para crear  100% naturales y Colombia es uno de ellos.
      </p>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->      
</div><!-- /.container -->