<!-- Jumbotron
================================================== -->
<div class="jumbotron jumbomain">
  <div class="logo">
    <%= image_tag("logo_blanco.png", :alt => "Namoy Logo", class: "banner-logo") %>
  </div>      
</div><!-- /.jumbotron -->

    
<!-- Namoy quote
================================================== -->
<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        <i class="fa fa-quote-left orange" aria-hidden="true"></i> Para quienes practican un estilo de vida saludable y libre de alimentos procesados <i class="fa fa-quote-right orange" aria-hidden="true"></i>
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <hr class="underline"> 
</div><!-- /.container -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-4 col-md-push-8">
      <div class="content-wrapper"> 
        <!--<p>
          <%#= image_tag("titulo_namoy.png", :alt => "Namoy panela en polvo", class: "img-responsive", id: "titulo-nam") %>
        </p>-->     
        <p class="lead">
          NA-MOY PANELA EN POLVO es un <span class="orange">endulzante de origen vegetal y 
          libre de gluten</span>, creado especialmente para quienes buscan y practican 
          un estilo de vida saludable y libre de alimentos procesados.
        </p>
        <p id="boton-enc"><a class="btn btn-primary btn-lg" href="/static_pages/locations" role="button">Encuéntranos</a></p>
      </div><!-- /.content-wrapper -->
    </div><!-- /.col-md-4 -->
      
    <div class="col-md-8 col-md-pull-4">
      <%= image_tag "bodegon_panela.png", alt: "Panela Namoy Product Image", class: "featurette-image img-responsive center-block" %>
    </div><!-- /.col-md-8 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <div>  
        <p class="lead">
          Su proceso <span class="orange">100% natural</span> y <span class="orange">libre 
          de refinamiento</span> lo convierte en la <span class="orange">alternativa</span> 
          adecuada <span class="orange">para sustituir el</span> uso de <span class="orange">
          azúcar refinado</span>, pues es un edulcorante <span class="orange">rico en vitaminas
          </span> A, B, C, D, E y <span class="orange">en minerales</span> como el fósforo, 
          potasio, hierro, calcio, magnesio, manganeso, zinc y cobre.
        </p>
      </div><!-- /div -->
    </div><!--/.col-md-12 -->
  </div><!-- /.row -->
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= image_tag "info_esp.jpg", alt: "Infographic of the panela process", class: "featurette-image img-responsive center-block infog" %>
    </div><!-- /.col-md-12 -->
    <div class="col-md-2"></div>
  </div><!-- /.row -->
</div><!-- /.container -->


