<!-- Jumbotron
================================================== -->
<div class="jumbotron jumbomain">
  <div class="logo">
    <%= image_tag("logo_blanco.png", :alt => "Namoy Logo", class: "banner-logo") %>
  </div>      
</div><!-- /.jumbotron -->

<% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
<% end %>
    
<!-- Namoy quote
================================================== -->
<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        <i class="fa fa-quote-left orange" aria-hidden="true"></i> Para quienes practican un estilo de vida saludable y libre de alimentos procesados <i class="fa fa-quote-right orange" aria-hidden="true"></i>
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <hr class="underline"> 
</div><!-- /.container -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <div class="content-wrapper"> 
        <!--<p>
          <%#= image_tag("titulo_namoy.png", :alt => "Namoy panela en polvo", class: "img-responsive", id: "titulo-nam") %>
        </p>-->     
        <p class="lead just">
          NA-MOY panela en polvo es un <span class="orange">endulzante de origen vegetal libre de gluten</span>, creado especialmente para quienes buscan y practican un estilo de vida saludable y libre de alimentos procesados. Su proceso <span class="orange">100% natural</span> lo convierte en la alternativa adecuada para sustituir el uso de azúcar refinado, pues es un edulcorante <span class="orange">rico en vitaminas</span> A, B, C, D, E <span class="orange">y minerales</span> como el fósforo, potasio, hierro, calcio, magnesio, manganeso, zinc y cobre.
        </p>
        <p id="boton-enc"><a class="btn btn-primary btn-lg" href="/locations" role="button">Encuéntranos</a></p>
      </div><!-- /.content-wrapper -->
    </div><!-- /.col-md-4 -->
      
    <div class="col-md-7 col-md-pull-5 panela-img">
      <%= image_tag "panela_limon.jpg", alt: "Panela Namoy Product Image", class: "featurette-image img-responsive center-block" %>
    </div><!-- /.col-md-8 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">

</div><!-- /.container -->


