<div class="jumbotron secontron" id="usesjumbo">
  <div class="container marketing">
    <h1>Usos</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        NA-MOY PANELA EN POLVO es amigable contigo y tu cocina.
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <hr class="underline"> 
</div><!-- /.container -->

<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <p> 
        Usa tu creatividad en diferentes recetas y encuentra ideas en nuestra página y redes sociales. 
      </p>
      <ul class="ideas">
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Endulza una taza de café o un té</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Cocina y hornea</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Decora postres y frutas</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Endulza un cereal</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Disuelve una cucharada en agua fría, caliente o frappé</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Úsalo como topping en un yogurth dietético o griego</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Espolvorea un poco sobre tus alimentos preferidos</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Prepara salsas para diferentes platos</li>
      </ul>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->      
</div><!-- /.container -->
