/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #19171c;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: .95em;
  margin-bottom: 1.8em;
}
h2,
h3,
a {
  color: #7B4014;
}
h2,
h3 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/*banner {
  border-bottom: 1px solid #adcc00;
  border-top: 1px solid #adcc00;
}*/

.name {
  font-size: 1.35em;
  margin: 0;
}
.main-nav {
  margin-top: 5px;
}
.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
.main-nav a {
  font-size: .95em;
  color: #e7ac10;
  /*text-transform: uppercase;*/
}
.main-nav a:hover {
  color: #ffa901;
}

/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}
.banner,
.main-footer {
  text-align: center;
}
.banner {
  color: #7B4014;
  /*background: #adcc00;*/
  padding: 3.2em 0;
  margin-bottom: 48px;
}
.col {
  padding-right: 1em;
  padding-left: 1em;
}
.main-footer {
  background: #fff;/*#e7ac10;*/
  padding: 2em 0;
  margin-top: 30px;
  color: #7B4014;
  /*border-top: 1px solid #adcc00;*/
}
.namoy {
    width: 100px;
    height: 100px;
}

/* resize images */
.namoy img {
    width: auto;
    height: 100%;
}

/* ---- Page Elements ---- */

.logo {
  width: 450px;
}
.headline {
  margin-bottom: 0;
}
.feat-img {
  border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-header,
  .row {
    width: 90%;
    margin: 0 auto;
  }
  .tagline {
    font-size: 1.4em;
  }
  .main-header,
  .main-nav,
  .row {
    display: flex;
  }
  .main-header {
    flex-direction: column;
    align-items: center;
  }
  .col {
    flex: 1;
  }
}
@media (min-width: 1025px) {
  .banner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .main-header,
  .row {
    width: 80%;
    max-width: 1150px;
  }
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .primary {
    flex: 2;
  }
}

























