 <div class="jumbotron secontron" id="usesjumbo">
  <div class="container marketing">
    <h1 class="namoy-font">Edita este distribuidor</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <%= render 'form' %>
  <p class="page-links">
    <%= link_to 'Ir a distribuidores', partners_path, class: "recipe-link" %> <span class="orange">|</span> 
    <%= link_to 'Volver', @partner, class: "recipe-link" %>
  </p>
</div><!-- /.container -->