<div class="jumbotron secontron" id="usesjumbo">
  <div class="container marketing">
    <h1 class="namoy-font">Agrega una receta</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <%= render 'form' %>
  <p class="page-links"><%= link_to 'Ir a recetas', recipes_path, class: "recipe-link" %></p>
</div><!-- /.container -->