<h1>El siguiente mensaje ha sido enviado por <strong>'<%= @msg.name %>'</strong>:</h1>

<h3>
  "<%= @msg.message %>"<br>
</h3>

<h4>
  Para responder a este mensaje escriba a <strong><%= @msg.email %></strong>.
</h4>
