<!-- FOOTER -->
<div class="container marketing">
  <footer>
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-6">
        <ul class="contact-info">
          <li>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;
            <a href="mailto:info@namoy.co">info@namoy.co</a>
          </li>
          <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;&nbsp;(57) 313 829 0971</li>
        </ul><!-- /.contact-info -->
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <ul class="social-links">
          <li>
            <%= link_to '<i class="fa fa-instagram fa-2x"></i>'.html_safe, 
                        "https://www.instagram.com/namoy_realfoods", 
                        :target => "_blank" %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-facebook-square fa-2x"></i>'.html_safe, 
                        "https://www.facebook.com/namoynatural", 
                        :target => "_blank" %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-twitter-square fa-2x"></i>'.html_safe,
                        "https://twitter.com/search?q=%40NAMOYrealfoods&src=typd", 
                        :target => "_blank" %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-google-plus-square fa-2x"></i>'.html_safe,
                        "#", 
                        :target => "_blank" %>
          </li>
        </ul><!-- /.social-links -->
      </div><!-- /.col-md-6 -->
      <div class="row">
        <div class="col-md-12">
          <p id="copyright">&copy; 2016 NA-MOY</p>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.row -->
  </footer>
</div><!-- /.container -->